---
Title: Cake.CakeMail
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.CakeMail is an Addin for <a href="http://cakebuild.net/">Cake</a> which allows the sending of email through the CakeMail API.
    </p>
</div>